{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<h1 class="title">Editar equipo</h1>
	<form class="form-container" action="/equipos/{{refUnit._id}}?_method=PUT" method="POST">
		<div class="form-field">
			<label for="client">Nombre de Cliente:</label>
			<input type="text" readonly name="clientName" value="{{refUnit.client.name}}"
				style="text-transform: uppercase;" />
		</div>
		<div class="form-field">
			<label for="client">ID Cliente:</label>
			<input readonly type="text" name="client" value={{refUnit.client._id}} />
		</div>
		<div class="form-field">
			<label for="name">Nº Serie</label>
			<input type="text" name="serialNumber" value={{refUnit.serialNumber}} />
		</div>
		<div class="form-field">
			<label for="plate-number">Matrícula:</label>
			<input type="text" id="plate-number" name="plate" value={{refUnit.plate}} style="text-transform: uppercase;" />
		</div>
		<div class="form-field">
			<label for="model">Modelo:</label>
			<input type="text" name="model" value="{{refUnit.model}}">
		</div>
		<div class="form-field">
			<label for="hours">Horas: </label>
			<input type="number" id="hours" name="hours" value={{refUnit.hours}} />
		</div>
		<div class="form-field" style="display: flex; align-items: center;">
			<label for="soldByReci" style="display: inline; margin-block:0; margin-right: 1rem;">Venta RECI: </label>
			{{#if refUnit.soldByReci}}
			<input type="checkbox" checked name="soldByReci" id="checkboxByReci">
			{{else}}
			<input type="checkbox" name="soldByReci" id="checkboxByReci">
			{{/if}}
		</div>
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>

	{{!-- <form id="form-delete" action="clients/{{refUnit.client}}/{{refUnit._id}}" method="DELETE"> --}}
	{{!-- <button role="submit" class="button-danger center">Eliminar</button> --}}
	{{!-- </form> --}}

	<button class="button-danger center" onclick="deleteEquipment('{{refUnit._id}}')">Eliminar</button>

</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/method-override@2.3.10/index.js"></script>

<script>
	const deleteButton = document.querySelector('.button-danger')

	function deleteEquipment(id) {
		console.log(`id: ${id}`);
		Swal.fire({
			title: 'Se borrará el equipo',
			text: "Esta acción no se puede revertir.",
			icon: 'warning',
			iconColor: 'red',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			confirmButtonText: 'Borrar',
			cancelButtonText: 'Cancelar',
		})
			.then((result) => {
				console.log(result.value);
				if (result.value) {
					// send a DELETE request to the server
					const xhr = new XMLHttpRequest();
					xhr.open("DELETE", '/equipos/' + id, true);
					xhr.setRequestHeader("X-HTTP-Method-Override", "DELETE");
					xhr.onloadend = function () {
						// handle the response
						Swal.fire(
							'El equipo fue borrado.',
							'success'
						)
					}
					xhr.send();
				}
			})
	}
</script>