{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/clientes/{{refUnit.client._id}}">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
			</span>
			Ver Cliente
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Editar equipo</h1>
	<form class="form-container " action="/equipos/{{refUnit._id}}?_method=PUT" method="POST">
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-4">
			<div class="form-field">
				<label for="client">Nombre de Cliente:</label>
				<input type="text" readonly name="clientName" value="{{refUnit.client.name}}"
					style="text-transform: uppercase;" />
			</div>
			<div class="form-field">
				<label for="name">Nº Serie</label>
				<input type="text" name="serialNumber" value={{refUnit.serialNumber}} />
			</div>
			<div class="form-field">
				<label for="plate-number">Matrícula:</label>
				<input type="text" id="plate-number" name="plate" value={{refUnit.plate}} style="text-transform: uppercase;" />
			</div>
			<div class="form-field">
				<label for="model">Modelo:</label>
				<input type="text" name="model" value="{{refUnit.model}}">
			</div>
			<div class="form-field">
				<label for="warrantyDate">Fecha límite de garantía: </label>
				<input type="date" id="warranty-date" name="warrantyDate" value="{{formatDateValue refUnit.warrantyDate}}" />
				{{!-- <input type="date" id="warranty-date" name="warrantyDate" value="2022-12-09" /> --}}
			</div>
			<div class="form-field">
				<label for="soldByReci">Venta RECI: </label>
				{{#if refUnit.soldByReci}}
				<input type="checkbox" class="h-8" checked name="soldByReci" id="checkboxByReci">
				{{else}}
				<input type="checkbox" class="h-8 " name="soldByReci" id="checkboxByReci">
				{{/if}}
			</div>
		</div>
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>

	<button class="button-danger center" onclick="deleteEquipment('{{refUnit._id}}')">Eliminar</button>

</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}

<script src="https://cdn.jsdelivr.net/npm/method-override@2.3.10/index.js"></script>
<script>
	const deleteButton = document.querySelector('.button-danger')

	function deleteEquipment(id) {
		console.log(`id: ${id}`);
		Swal.fire({
			title: 'Se borrará el equipo',
			text: "Esta acción no se puede revertir.",
			icon: 'warning',
			iconColor: 'red',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			confirmButtonText: 'Borrar',
			cancelButtonText: 'Cancelar',
		})
			.then((result) => {
				console.log(result.value);
				if (result.value) {
					// send a DELETE request to the server
					const xhr = new XMLHttpRequest();
					xhr.open("DELETE", '/equipos/' + id, true);
					xhr.setRequestHeader("X-HTTP-Method-Override", "DELETE");
					xhr.onloadend = function () {
						// handle the response
						Swal.fire(
							'El equipo fue borrado.',
							'success'
						)
					}
					xhr.send();
				}
			})
	}
</script>