{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Equipos</h1>

	{{#if refUnits}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row">
				<th>Nº Serie</th>
				<th>Modelo</th>
				<th>Cliente</th>
				<th>Matrícula</th>
				<th class="center">Editar</th>
			</tr>
			{{#each refUnits}}
			<tr>
				<td>
					<a href="/equipos/{{_id}}">
						<strong>{{serialNumber}} </strong>
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td class="center">
					<a href="/equipos/{{this._id}} ">
						{{this.plate}}
					</a>
				</td>
				<td class="center">
					<a href="/equipos/editar/{{_id}}">
						<span class="table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay equipos registrados.</h2>
	{{/if}}

</main>