{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 50px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Equipos</h1>


	{{!-- <div class="grid grid-cols-3 mb-4 items-center"> --}}
	{{!-- 	<label for="refUnitsFilter" class="text-gray-300 align-self-center mr-2 w-100 text-end"> --}}
	{{!-- 		<strong> --}}
	{{!-- 			Filtrar: --}}
	{{!-- 		</strong> --}}
	{{!-- 	</label> --}}
	{{!-- 	<select name="refUnitsFilter" id="refUnitsFilter" class="m-0 h-10 w-48 bg-gray-200 mx-auto px-2"> --}}
	{{!-- 		<option value="all">Todos</option> --}}
	{{!-- 		<option value="pendingTasks">Tareas pendientes</option> --}}
	{{!-- 		{{!-- <option value=""></option> --}} --}}
	{{!-- 		{{!-- <option value=""></option> --}} --}}
	{{!-- 	</select> --}}
	{{!-- 	<div></div> --}}
	{{!-- </div> --}}


	{{#if refUnits}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row">
				<th>Matrícula</th>
				<th>Modelo</th>
				<th>Cliente</th>
				<th>Nº Serie</th>
				<th class="center">Editar</th>
			</tr>
			{{#each refUnits}}
			<tr>
				<td class="center">
					<a href="/equipos/{{this._id}} ">
						{{this.plate}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						<strong>{{serialNumber}} </strong>
					</a>
				</td>
				<td class="center">
					<a href="/equipos/editar/{{_id}}">
						<span class="table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay equipos registrados.</h2>
	{{/if}}

</main>
<script>

	async function fetchData(url) {
		try {
			const response = await fetch(url)
			const data = response.text()
			console.log(data)
		} catch (err) {
			console.log(err)
		}
	}

	const select = document.getElementById('refUnitsFilter');
	select.addEventListener('change', async (e) => {
		const selectedValue = this.value;
		const data = await fetchData(selectedValue)
	})
</script>
{{!-- <script src="https://cdn.tailwindcss.com"></script> --}}