{{>navbar}}

<main>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<h1 class="title">Equipos</h1>
	{{#if refUnits}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row">
				<th>Nº Serie</th>
				<th>Modelo</th>
				<th>Cliente</th>
				<th> Editar </th>
			</tr>
			{{#each refUnits}}
			<tr class="row">
				<td>
					<a href="/equipos/{{_id}}"><strong>{{serialNumber}} </strong></a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/clientes/{{client}}">
						{{clientName}}
					</a>
				</td>
				<td>
					<a href="/equipos/editar/{{_id}}">
						<span class="table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay equipos registrados.</h2>
	{{/if}}

</main>