{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 50px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Equipos</h1>


	<div class="grid items-center grid-cols-1 mb-3 sm:grid-cols-3">
		<form action="/equipos/search" method="GET" class="flex items-center gap-2">
			<input name="q" placeholder="Buscar por matrícula"
				class="inline w-3/4 h-10 px-2 m-0 mx-auto mb-0 bg-gray-200 rounded-full" style="margin: 0 !important;">
			</input>
			<button type="submit inline w-1/4 ml-2 bg-green-400 self-center rounded-full p-2"><i
					class="inline text-white material-icons">search</i></button>
		</form>
		<div></div>
		{{!-- <div> --}}
		{{!-- 	<label for="refUnitsFilter" class="mr-2 text-gray-300 align-self-center w-100 text-end"> --}}
		{{!-- 		<strong> --}}
		{{!-- 			Filtrar: --}}
		{{!-- 		</strong> --}}
		{{!-- 	</label> --}}
		{{!-- 	<select name="refUnitsFilter" id="refUnitsFilter" class="w-48 h-10 px-2 m-0 mx-auto bg-gray-200"> --}}
		{{!-- 		<option value="all">Todos</option> --}}
		{{!-- 		<option value="pendingTasks">Tareas pendientes</option> --}}
		{{!-- 		<option value=""></option> --}}
		{{!-- 		<option value=""></option> --}}
		{{!-- 	</select> --}}
		{{!-- </div> --}}
	</div>


	{{#if refUnits}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Nº Serie</th>
				<th>Matrícula</th>
				<th>Modelo</th>
				<th>Cliente</th>
				<th class="center">Agregado</th>
			</tr>
			{{#each refUnits}}
			<tr>
				<td>
					<a href="/equipos/{{_id}}">
						{{#if this.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{serialNumber}}
						</span>
						{{else}}
						<span>{{serialNumber}}</span>
						{{/if}}
					</a>
				</td>
				<td class="center">
					<a href="/equipos/{{this._id}} ">
						{{this.plate}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td class="center">
					<a href="/equipos/editar/{{_id}}">
						<span class="flex justify-center table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>

	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay equipos registrados.</h2>
	{{/if}}

	{{!-- Paginación --}}
	<div class="flex space-x-8 w-full justify-center mb-4">
		<a id="previous" role="link" class="text-green-400 flex items-center bold border border-green-400 px-4 py-2">
			<i class="material-icons inline">chevron_left</i>
			Anterior
		</a>
		<a id="next" role="link" class="text-green-400 flex items-center bold border border-green-400 px-4 py-2">
			Siguiente
			<i class="material-icons inline">chevron_right</i>
		</a>
	</div>
	{{!-- hidden --}}
	<input type="text" hidden value="{{refUnits.length}}" id="refUnits-length">

	<script>
		/*
		async function fetchData(url) {
			try {
				const response = await fetch(url)
				const data = response.text()
			} catch (err) {
				console.log(err)
			}
		}

		const select = document.getElementById('refUnitsFilter');
		select.addEventListener('change', async (e) => {
			const selectedValue = this.value;
			const data = await fetchData(selectedValue)
		})

		*/

		// Pagination
		const urlParams = new URLSearchParams(window.location.search)
		const page = parseInt(urlParams.get('p') || 0)

		const previousLink = document.querySelector('#previous');
		const nextLink = document.querySelector('#next');

		previousLink.setAttribute('href', `/equipos?p=${page - 1}`)
		nextLink.setAttribute('href', `/equipos?p=${page + 1}`)

		if (page === 0) {
			previousLink.setAttribute('aria-disabled', 'true')
			previousLink.classList.add('text-gray-500', 'border-gray-500')
		}

		const refUnitsLength = document.querySelector('#refUnits-length')

		if (+refUnitsLength.value < 30) {
			nextLink.setAttribute('aria-disabled', 'true');
			nextLink.classList.add('disable-links', 'text-gray-400', 'border-gray-400');
		}
	</script>

</main>