{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 50px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Equipos</h1>

	{{!-- search --}}
	<div class="grid items-center justify-between items-end grid-cols-1 gap-0 mb-4 sm:flex sm:gap-4 lg:gap-8">
		<form action="/buscar" method="GET" class="flex-col h-full items-start gap-1 hidden md:flex">
			<div class="flex w-full gap-3">
				<div class="flex-col flex gap-1">
					<label for="search-input" class="text-slate-400">Buscar equipos</label>
					<input name="query" id="search-input"
						class="inline w-[200px] h-10 px-2 m-0 mx-auto mb-0 bg-gray-200 rounded-lg placeholder-gray-400/70"
						style="margin: 0 !important; padding-inline: 1.2rem;" placeholder="Ej. ATP1234">
				</div>
				</input>
				<div class="flex-col flex gap-1">
					<label for="field-select" class="text-slate-400">Por</label>
					<select name="field" id="field-select" class="px-4 bg-slate-100/90 h-full">
						<option value="plate">Matrícula</option>
						<option value="serialNumber">Nº de serie</option>
						<option value="model">Modelo</option>
						<option value="client">Cliente</option>
					</select>
				</div>
				{{!-- hidden input for type --}}
				<input id="" type="text" hidden value="equipos" name="type" class="">
				<button type="submit" class="w-1/4 h-full flex items-end justify-end self-end rounded-full p-2">
					<i class="text-white material-icons bottom-0">search</i></button>
			</div>
		</form>

		{{!-- filter --}}
		<form id="filter-form" class="flex-col items-end h-full justify-end hidden w-48 gap-1 sm:flex">
			<label for="refUnitsFilter" class="w-full font-normal text-gray-400 w-100">
				{{#if f}}
				Filtrar <span class="ml-1">•<span class="ml-2 font-thin">{{refUnits.length}} resultados</span></span>
				{{else}}
				Filtrar <span class="ml-1">•<span class="ml-2 font-thin">{{documentCount}} resultados</span></span>
				{{/if}}
			</label>
			<select name="f" id="refUnitsFilter" class="w-48 h-10 px-2 m-0 bg-gray-200">
				<option value="all">Todos</option>
				<option value="pendingTasks">Tareas pendientes</option>
				<option value="plate">Sin matricular</option>
				<option value="soldByReci">Venta RECI</option>
			</select>
		</form>
	</div>

	{{#if refUnits}}
	<div class="table-container">
		<table class="mb-2">
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Matrícula</th>
				<th>Modelo</th>
				<th class="min-w-[150px]">Cliente</th>
				<th class="min-w-[120px]">Nº Serie</th>
				<th>Ingresado</th>
			</tr>
			{{#each refUnits}}
			<tr>
				<td>
					<a href="/equipos/{{this._id}} ">
						{{#if this.plate}}
						{{this.plate}}
						{{else}}
						<span class="">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{#if (isPlateNumber this.serialNumber)}}
						<span class="text-red-600">No registra</span>
						{{else}}
						{{#if this.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{serialNumber}}
						</span>
						{{else}}
						<span class="">{{serialNumber}}</span>
						{{/if}}
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{formatDate createdAt}}
					</a>
				</td>
				{{!-- <td class="center">
					<a href="/equipos/editar/{{_id}}">
						<span class="flex justify-center table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td> --}}
			</tr>
			{{/each}}
		</table>
	</div>

	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay equipos registrados.</h2>
	{{/if}}

	{{!-- Paginación --}}
	<div class="flex space-x-8 w-full justify-between items-center max-w-[470px] mx-auto mb-4" id="pagination-div">
		<a id="previous" role="link"
			class="text-green-400 flex items-center bold border border-green-400 px-4 py-2 hover:bg-green-400 hover:text-[var(--main-dark-blue)] hover:cursor-pointer">
			<i class="inline material-icons">chevron_left</i>
			Más recientes
		</a>
		<div id="page-indicator" class="text-gray-300"></div>
		<a id="next" role="link"
			class="text-green-400 flex items-center bold border hover:cursor-pointer border-green-400 px-4 py-2 hover:bg-green-400 hover:text-[var(--main-dark-blue)]">
			Más antiguos
			<i class="inline material-icons">chevron_right</i>
		</a>
	</div>
	{{!-- hidden --}}
	<input type="text" hidden value="{{refUnits.length}}" id="refUnits-length">

	<script>
		// change search placeholder

		// Filter
		const select = document.getElementById('refUnitsFilter');
		const filterForm = document.getElementById('filter-form');
		const paginationDiv = document.getElementById('pagination-div');

		select.value = "{{f}}";
		if (!select.value) {
			select.value = 'all';
		} else {
			paginationDiv.classList.add('hidden');
		}

		select.addEventListener('change', async (e) => {
			let selectedValue = select.value;
			if (selectedValue === 'all') {
				filterForm.setAttribute('action', '/equipos');
			} else {
				filterForm.setAttribute('action', `/equipos/filter?f=${selectedValue}`);
			}
			filterForm.submit();
		})

		// Pagination
		const urlParams = new URLSearchParams(window.location.search)
		const page = parseInt(urlParams.get('p') || 0)

		const previousLink = document.querySelector('#previous');
		const nextLink = document.querySelector('#next');
		const pageIndicator = document.querySelector('#page-indicator');
		const documentCount = "{{ documentCount }}" || null;
		const totalPages = Math.ceil(documentCount / 30);
		const filterIsActive = "{{f}}";

		if (filterIsActive) {
			paginationDiv.classList.add('hidden');
		}

		previousLink.setAttribute('href', `/equipos?p=${page - 1}`)
		nextLink.setAttribute('href', `/equipos?p=${page + 1}`)
		pageIndicator.innerHTML = `Página <b">${page + 1}</b> / <a class="font-bold text-emerald-400" href="/equipos?p=${+totalPages - 1}">${totalPages}</a>`

		if (page === 0) {
			previousLink.setAttribute('aria-disabled', 'true')
			previousLink.classList.add('disable-links', 'text-gray-500', 'border-gray-500')
		}

		const refUnitsLength = document.querySelector('#refUnits-length')

		if (+refUnitsLength.value < 30) {
			nextLink.setAttribute('aria-disabled', 'true');
			nextLink.classList.add('disable-links', 'text-gray-500', 'border-gray-500');
		}

		// placeholder on field select change
		const fieldSelect = document.getElementById('field-select');
		const searchInput = document.getElementById('search-input');

		fieldSelect.addEventListener('change', (e) => {
			console.log(fieldSelect.value)
			switch (fieldSelect.value) {
				case 'plate':
					searchInput.placeholder = 'Ej: ATP1234 o 1234';
					console.log('plate')
					break;
				case 'serialNumber':
					searchInput.placeholder = 'Ej: BCN1234567';
					console.log('serialNumber')
					break;
				case 'model':
					searchInput.placeholder = 'Ej: V-500';
					break;
				case 'client':
					searchInput.placeholder = 'Ej: Trancigliuti';
					break;
			}
		})
	</script>

</main>