{{>navbar}}
<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/equipos">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">ac_unit</i>
			</span>
			Equipos
		</button>
	</a>
	<a href="/clientes/{{refUnit.client._id}}">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
			</span>
			Ver Cliente
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Información del equipo</h1>

	<section>
		<div class="table-container" style="width: 500px;">
			<table>
				<tr>
					<th>Nombre Cliente:</th>
					<td>
						{{refUnit.client.name}}
					</td>
				</tr>
				<tr>
					<th>Nº Serie:</th>
					<td> {{refUnit.serialNumber}} </td>
				</tr>
				<tr>
					<th>Modelo:</th>
					<td> {{refUnit.model}} </td>
				</tr>
				<tr>
					<th>Servicios:</th>
					<td>{{refUnit.services.length}}</td>
				</tr>
				<tr>
					<th>Matrícula:</th>
					<td>
						{{refUnit.plate}}
					</td>
				</tr>
				<tr>
					<th>
						Fecha límite de garantía:
					</th>
					<td>
						{{formatDate refUnit.warrantyDate}}
					</td>
				</tr>
				<tr>
					<th>Venta RECI:</th>
					<td>
						{{#if refUnit.soldByReci}}
						<span style="font-weight: 600; color: var(--primary-success);">
							Sí
						</span>
						{{else}}
						<span style="font-weight: 500; color: var(--primary-danger);">
							No
						</span>
						{{/if}}
					</td>
				</tr>
			</table>
		</div>

		<a href="/equipos/editar/{{refUnit._id}}">
			<button class="button-new">
				<i class="material-icons clients-icon center">edit</i>
				Editar
			</button>
		</a>
	</section>



	{{!-- SERVICIOS --}}
	<section>
		<h2 class="subtitle" style="display: flex;">
			<i class="material-icons icon-clients center"
				style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">build</i>
			Servicios
		</h2>

		{{#if refUnit.services}}
		<div class="table-container" style="width: 100%; min-width: 300px;">
			<table>
				<tr>
					<th>N° Orden</th>
					<th>Fecha</th>
					<th style="text-align: center;">Reparaciones</th>
					<th style="text-align: center;">Repuestos</th>
				</tr>
				{{#each refUnit.services}}
				<tr>
					<td><a href="/servicios/{{this._id}}"><strong>{{this.orderNumber}}</strong></a></td>
					<td><a href="/servicios/{{this._id}}">{{formatDate this.serviceDate}}</a></td>
					<td style="text-align: center;"><a href="/servicios/{{this._id}}">{{this.fixes.length}}</a></td>
					<td style="text-align: center;"><a href="/servicios/{{this._id}}">{{this.parts.length}}</a></td>
				</tr>
				{{/each}}
			</table>
		</div>

		{{else}}
		<h3 class="no-elements center" style="margin-top: 1rem; font-size: 1.1rem;">No hay servicios registrados en
			este
			equipo.</h3>
		{{/if}}

		<a href="/servicios/nuevo/{{refUnit._id}}">
			<button class="button-success center">
				<i class="material-icons clients-icon center">build</i>
				Agregar servicio
			</button>
		</a>
	</section>

</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}