{{>navbar}}
<main>
	<a href="/equipos">
		<button class="go-back">
			Ver todos
		</button>
	</a>
	<a href="/clientes/{{refUnit.client}}">
		<button class="go-back">
			Ver cliente
		</button>
	</a>

	<h1 class="title">Detalle del equipo</h1>

	<section>
		{{!-- <h2 class="subtitle">Información</h2> --}}
		<div class="table-container" style="max-width: 500px;">
			<table>
				<tr>
					<th>Nº Serie</th>
					<td> {{refUnit.serialNumber}} </td>
				</tr>
				<tr>
					<th>Modelo</th>
					<td> {{refUnit.model}} </td>
				</tr>
				<tr>
					<th>Servicios</th>
					<td>{{refUnit.services.length}}</td>
				</tr>
				<tr>
					<th>Horas:</th>
					<td>{{refUnit.hours}}</td>
				</tr>
				<tr>
					<th>Matrícula</th>
					<td>
						{{refUnit.plate}}
					</td>
				</tr>
				<tr>
					<th>Nombre Cliente:</th>
					<td>
						<a href="/clientes/{{refUnit.client}}">
							{{clientName}}
						</a>
					</td>
				</tr>
				<tr>
					<th>ID Cliente</th>
					<td>
						<a href="/clientes/{{refUnit.client}}">
							{{refUnit.client}}
						</a>
					</td>
				</tr>
				<tr>
					<th>Venta RECI</th>
					<td>
						{{#if refUnit.soldByReci}}
						Sí
						{{else}}
						No
						{{/if}}
					</td>
				</tr>
			</table>
		</div>

		<a href="/equipos/editar/{{refUnit._id}}">
			<button class="button-new">Editar</button>
		</a>
	</section>

	<section>
		<h2 class="subtitle">Servicios</h2>
		{{#if refUnit.services}}
		<div class="table-container">
			<table>
				<tr>
					<th>N° Serie</th>
					<th>Línea</th>
					<th>Modelo</th>
					<th>Servicios</th>
				</tr>
				{{#each refUnits}}
				<tr>
					<td>{{_id}}</td>
					{{!-- <td>{{this.model}}</td> --}}
					{{!-- <td>{{this.services.length}}</td> --}}
				</tr>
				{{/each}}
			</table>
		</div>
		{{else}}
		<h3 class="no-elements center" style="margin-top: 1rem; font-size: 1.1rem;">No hay servicios registrados en
			este
			equipo.</h3>
		{{/if}}

		<h2 class="subtitle">Agregar Servicio</h2>
		<form class="form-container" action="/refUnits/new">
			<div class="form-field">
				<label for="name">Nº Serie</label>
				<input type="text" name="serialNumber" placeholder="" />
			</div>
			<div class="form-field">
				<label for="client">ID Cliente:</label>
				<input type="text" name="client" placeholder="correo@casilla.com" value={{client._id}} />
			</div>
			<div class="form-field">
				<label for="model">Modelo:</label>
				{{!-- <input type="text" name="model" placeholder="V-500" /> --}}
				<select name="model" id="">
					<option value="C-250MAX">C-250 MAX</option>
					<option value="V-500">V-500</option>
					<option value="V-600">V-600</option>
					<option value="V-500MAX">V-500 MAX</option>
					<option value="V-600MAX">V-600 MAX</option>
				</select>
			</div>
			<div class="form-field">
				<label for="plate">Matrícula:</label>
				<input type="text" name="plate" placeholder="AAZ3757" />
			</div>
			<div class="form-field" style="display: flex; align-items: center;">
				<label for="soldByReci" style="display: inline; margin-block:0; margin-right: 1rem;">Venta RECI: </label>
				<input type="checkbox" name="soldByReci" id="checkboxByReci">
			</div>
			{{!-- <button class="button-success button-form" role="submit">Guardar</button> --}}
			<a href="/equipos">
				<button class="button-success button-form">Agregar Equipo</button>
			</a>
		</form>
	</section>

</main>