{{>navbar}}
<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/equipos">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">ac_unit</i>
			</span>
			Equipos
		</button>
	</a>
	<a href="/clientes/{{refUnit.client._id}}">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
			</span>
			Ver Cliente
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">ac_unit</i>
	<h1 class="title">Información del equipo</h1>

	<section>
		<div class="table-container" style="max-width: 500px;">
			<table>
				<tr>
					<th>Nombre Cliente:</th>
					<td>
						<a href="/clientes/{{refUnit.client._id}}">
							{{refUnit.client.name}}
						</a>
					</td>
				</tr>
				<tr>

					{{!-- <!-- IDs--> --}}
					{{!-- 	<th>ID del Cliente:</th> --}}
					{{!-- 	<td> --}}
					{{!-- 		<a href="/clientes/{{refUnit.client._id}}"> --}}
					{{!-- 			{{refUnit.client._id}} --}}
					{{!-- 		</a> --}}
					{{!-- 	</td> --}}
					{{!-- </tr> --}}
					{{!-- <tr> --}}
					{{!-- 	<th>ID del Equipo:</th> --}}
					{{!-- 	<td> --}}
					{{!-- 		{{refUnit._id}} --}}
					{{!-- 	</td> --}}
					{{!-- </tr> --}}

				<tr>
					<th>Nº Serie:</th>
					<td> {{refUnit.serialNumber}} </td>
				</tr>
				<tr>
					<th>Modelo:</th>
					<td> {{refUnit.model}} </td>
				</tr>
				<tr>
					<th>Servicios:</th>
					<td>{{refUnit.services.length}}</td>
				</tr>
				<tr>
					<th>Horas:</th>
					<td>{{refUnit.hours}}</td>
				</tr>
				<tr>
					<th>Matrícula:</th>
					<td>
						{{refUnit.plate}}
					</td>
				</tr>
				<tr>
					<th>Venta RECI:</th>
					<td>
						{{#if refUnit.soldByReci}}
						Sí
						{{else}}
						No
						{{/if}}
					</td>
				</tr>
			</table>
		</div>

		<a href="/equipos/editar/{{refUnit._id}}">
			<button class="button-new">Editar</button>
		</a>
	</section>



	<section>
		<h2 class="subtitle" style="display: flex;">
			<i class="material-icons icon-clients center"
				style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">build</i>
			Servicios
		</h2>

		{{#if refUnit.services}}
		<div class="table-container">
			<table>
				<tr>
					<th>N° Serie</th>
					<th>Línea</th>
					<th>Modelo</th>
					<th>Servicios</th>
				</tr>
				{{#each refUnits}}
				<tr>
					<td>{{_id}}</td>
					{{!-- <td>{{this.model}}</td> --}}
					{{!-- <td>{{this.services.length}}</td> --}}
				</tr>
				{{/each}}
			</table>
		</div>

		{{else}}
		<h3 class="no-elements center" style="margin-top: 1rem; font-size: 1.1rem;">No hay servicios registrados en
			este
			equipo.</h3>
		{{/if}}

		<a href="/servicios/nuevo/{{refUnit._id}}">
			<button class="button-success center">
				Agregar servicio
			</button>
		</a>
	</section>

</main>