{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 50px; display: block; margin-bottom: .2rem;">search</i>
	<h1 class="title">Búsqueda</h1>

	{{>search-form}}

	{{!-- results indicator --}}
	{{#if (and (and (isEmptyOrUndefined refUnits) (isEmptyOrUndefined bodyKits)) (isEmptyOrUndefined services))}}
	<div id="results-indicator" class="w-full mt-10 mb-4 text-lg font-thin text-center text-slate-200/80">No hay
		resultados
	</div>
	{{else}}
	<div id="results-indicator" class="w-full mt-10 mb-4 text-lg font-thin text-center text-slate-200/80">Resultados de
		"<b>{{query}}</b>"</div>
	{{/if}}

	{{!-- Ref units --}}
	{{#if refUnits}}
	<h2 class="flex items-center mb-3 text-xl font-semibold text-slate-200">
		<i class="material-icons icon-clients center"
			style=" display: inline; margin:0 .7rem 0 0; font-size: 1.5rem; align-self: center;">ac_unit</i>
		Equipos <span class="ml-2 font-thin text-slate-300">• {{refUnits.length}} resultados</span>
	</h2>
	<div class="table-container">
		<table class="mb-2">
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Matrícula</th>
				<th>Modelo</th>
				<th class="min-w-[150px]">Cliente</th>
				<th class="min-w-[120px]">Nº Serie</th>
				<th>Ingresado</th>
				<th class="pr-0">Servicios</th>
			</tr>
			{{#each refUnits}}
			<tr>
				<td>
					<a href="/equipos/{{this._id}} ">
						{{#if this.plate}}
						{{this.plate}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{#if (isPlateNumber this.serialNumber)}}
						<span class="text-red-600">No registra</span>
						{{else}}
						{{#if this.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{serialNumber}}
						</span>
						{{else}}
						<span class="">{{serialNumber}}</span>
						{{/if}}
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/equipos/{{_id}}">
						{{formatDate createdAt}}
					</a>
				</td>
				<td class="max-w-[90px] text-center hidden lg:block">
					<a href="/equipos/{{_id}}">
						{{this.services.length}}
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{/if}}

	{{!-- Body kits --}}
	{{#if bodyKits}}
	<h2 class="flex mb-3 text-xl font-semibold text-slate-200">
		<i class="material-icons icon-clients center"
			style=" display: inline; margin:0 .7rem 0 0; font-size: 1.5rem; align-self: center;">local_shipping</i>
		Carrocerías <span class="ml-2 font-thin text-slate-300">• {{bodyKits.length}} resultados</span>
	</h2>
	<div class="table-container">
		<table class="mb-2">
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Matrícula</th>
				<th>Modelo</th>
				<th class="min-w-[150px]">Cliente</th>
				<th class="min-w-[120px]">Nº Serie</th>
				<th>Ingresada</th>
				<th class="hidden lg:block max-w-[90px] pr-0">Servicios</th>
			</tr>
			{{#each bodyKits}}
			<tr>
				<td>
					<a href="/carrocerias/{{this._id}} ">
						{{#if this.plate}}
						{{this.plate}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/carrocerias/{{_id}}">
						{{model}}
					</a>
				</td>
				<td>
					<a href="/carrocerias/{{_id}}">
						{{client.name}}
					</a>
				</td>
				<td>
					<a href="/carrocerias/{{_id}}">
						{{#if (eq this.plate this.serialNumber)}}
						<span class="text-red-600">No registra</span>
						{{else}}
						{{#if this.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{serialNumber}}
						</span>
						{{else}}
						<span class="">{{serialNumber}}</span>
						{{/if}}
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/carrocerias/{{_id}}">
						{{formatDate createdAt}}
					</a>
				</td>
				<td class="max-w-[90px] text-center hidden lg:block">
					<a href="/carrocerias/{{_id}}">
						{{this.services.length}}
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{/if}}

	{{!-- Services --}}
	{{#if services}}
	<h2 class="flex mb-3 text-xl font-semibold text-slate-200">
		<i class="material-icons icon-clients center"
			style=" display: inline; margin:0 .7rem 0 0; font-size: 1.5rem; align-self: center;">build</i>
		Servicios <span class="ml-2 font-thin text-slate-300">• {{services.length}} resultados</span>
	</h2>
	<div class="table-container">
		<table class="mb-2">
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Nº Orden</th>
				<th>Matrícula</th>
				<th class="min-w-[150px]">Modelo</th>
				<th>Cliente</th>
				<th class="min-w-[120px]">Nº Serie</th>
				<th>Fecha</th>
			</tr>

			{{#each services}}
			<tr>
				{{#if this.refUnit}}
				<td>
					<a href="/servicios/{{this._id}} ">
						{{#if orderNumber}}
						{{orderNumber}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{this._id}} ">
						{{#if refUnit.plate}}
						{{refUnit.plate}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{this.refUnit.model}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{this.client.name}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{#if (eq this.refUnit.plate this.refUnit.serialNumber)}}
						<span class="text-red-600">No registra</span>
						{{else}}
						{{#if this.refUnit.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{this.refUnit.serialNumber}}
						</span>
						{{else}}
						<span class="">{{this.refUnit.serialNumber}}</span>
						{{/if}}
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{formatDate this.serviceDate}}
					</a>
				</td>
				{{/if}}

				{{!-- show bodykit services --}}
				{{#if this.bodyKit}}
				<td>
					<a href="/servicios-carrocerias/{{this._id}} ">
						{{#if orderNumber}}
						{{orderNumber}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios-carrocerias/{{this._id}} ">
						{{#if bodyKit.plate}}
						{{bodyKit.plate}}
						{{else}}
						<span class="text-red-500">No registra</span>
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios-carrocerias/{{_id}}">
						{{this.bodyKit.model}}
					</a>
				</td>
				<td>
					<a href="/servicios-carrocerias/{{_id}}">
						{{this.client.name}}
					</a>
				</td>
				<td>
					<a href="/servicios-carrocerias/{{_id}}">
						{{#if (eq this.bodyKit.plate this.bodyKit.serialNumber)}}
						<span class="text-red-600">No registra</span>
						{{else}}
						{{#if this.bodyKit.soldByReci}}
						<span class="font-normal text-emerald-600">
							{{this.bodyKit.serialNumber}}
						</span>
						{{else}}
						<span class="">{{this.bodyKit.serialNumber}}</span>
						{{/if}}
						{{/if}}
					</a>
				</td>
				<td>
					<a href="/servicios-carrocerias/{{_id}}">
						{{formatDate this.serviceDate}}
					</a>
				</td>
				{{/if}}
			</tr>
			{{/each}}
		</table>
	</div>
	{{/if}}
</main>

<script>
</script>