{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/clientes/{{client._id}}">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
			</span>
			Ver cliente
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">person</i>
	<h1 class="title">Editar Cliente</h1>

	<form class="form-container" action="/clientes/{{client._id}}?_method=PUT" method="POST">
		<h2 class="subtitle">Información</h2>
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
			<div class="form-field">
				<label for="name">Razón social:</label>
				<input type="text" name="name" value="{{client.name}}" />
			</div>
			<div class="form-field">
				<label for="email">E-mail:</label>
				<input type="email" name="email" value='{{client.email}}' style="text-transform: lowercase;" />
			</div>
			<div class="form-field">
				<label for="phone">Teléfono:</label>
				<input type="number" name="phone" value='{{client.phone}}' />
			</div>
			<div class="form-field">
				<label for="phone">Número de cliente:</label>
				<input type="number" name="clientNumber" value="{{client.clientNumber}}" readonly />
			</div>
		</div>
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>

	{{!-- <button class="button-danger center" onclick="deleteEquipment('{{client._id}}')">Eliminar</button> --}}

	{{!-- Delete confirmation --}}
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/method-override@2.3.10/index.js"></script>

	<script>
		const deleteButton = document.querySelector('.button-danger')

		function deleteEquipment(id) {
			console.log(`id: ${id}`);
			Swal.fire({
				title: 'Se borrará el cliente',
				text: "Esta acción no se puede revertir.",
				icon: 'warning',
				iconColor: 'red',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				// cancelButtonColor: 'hsl(222, 75%, 65%)',
				confirmButtonText: 'Borrar',
				cancelButtonText: 'Cancelar',
			})
				.then((result) => {
					console.log(result.value);
					if (result.value) {
						// send a DELETE request to the server
						const xhr = new XMLHttpRequest();
						xhr.open("DELETE", '/clientes/' + id, true);
						xhr.setRequestHeader("X-HTTP-Method-Override", "DELETE");
						xhr.onloadend = function () {
							// handle the response
							Swal.fire({
								title: 'El cliente fue borrado.',
								icon: 'success',
								confirmButtonColor: 'hsl(150, 45%, 31%)',
							}
							)
						}
						xhr.send();
					}
				})
		}
	</script>

</main>