{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<div class="inline-flex items-center justify-center mb-4 ml-2 place-items-center text-slate-200">
		<a href="/clientes/{{client._id}}">
			<button class="flex items-center">
				<span class="button-icon-container">
					<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
				</span>
				{{client.name}}
			</button>
		</a>
	</div>


	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">person</i>
	<h1 class="title">Editar Cliente</h1>

	<form class="form-container" action="/clientes/{{client._id}}?_method=PUT" method="POST">
		<h2 class="subtitle">Información de contacto</h2>
		<div class="grid gap-4 mb-6 sm:grid-cols-2 lg:grid-cols-3">
			<div class="form-field">
				<label for="name">Razón social <span class="text-red-500">*</span></label>
				<input type="text" name="name" value="{{client.name}}" placeholder="RESTAURANTES MCDONALDS S.A."
					class="uppercase" required />
			</div>
			<div class="form-field">
				<label for="brandName">Nombre comercial <span class="text-red-500">*</span></label>
				<input type="text" name="brandName" value="{{client.brandName}}" placeholder="Ej: MCDONALD'S" class="uppercase"
					required />
			</div>
			<div class="form-field">
				<label for="email">E-mail <span class="text-red-500">*</span></label>
				<input type="email" name="email" value='{{client.email}}' style="text-transform: lowercase;" required />
			</div>
			<div class="form-field">
				<label for="phone">Teléfono <span class="text-red-500">*</span></label>
				<input type="number" name="phone" value='{{client.phone}}' placeholder="098 765432" />
			</div>
			<div class="form-field">
				<label for="contactPerson">Persona de contacto</span></label>
				<input type="text" name="contactPerson" value="{{client.contactPerson}}" class="uppercase"
					placeholder="Ej. Juan Pérez" />
			</div>
			<div class="form-field">
				<label for="phone">Número de cliente</label>
				<input type="number" name="clientNumber" value="{{client.clientNumber}}" readonly />
			</div>
		</div>
		<button class="button-success button-form" role="submit">Guardar</button>
	</form>

	{{!-- <button class="button-danger center" onclick="deleteEquipment('{{client._id}}')">Eliminar</button> --}}

	{{!-- Delete confirmation --}}
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.jsdelivr.net/npm/method-override@2.3.10/index.js"></script>

	<script>
		const deleteButton = document.querySelector('.button-danger')

		function deleteEquipment(id) {
			Swal.fire({
				title: 'Se borrará el cliente',
				text: "Esta acción no se puede revertir.",
				icon: 'warning',
				iconColor: 'red',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				// cancelButtonColor: 'hsl(222, 75%, 65%)',
				confirmButtonText: 'Borrar',
				cancelButtonText: 'Cancelar',
			})
				.then((result) => {
					if (result.value) {
						// send a DELETE request to the server
						const xhr = new XMLHttpRequest();
						xhr.open("DELETE", '/clientes/' + id, true);
						xhr.setRequestHeader("X-HTTP-Method-Override", "DELETE");
						xhr.onloadend = function () {
							// handle the response
							Swal.fire({
								title: 'El cliente fue borrado.',
								icon: 'success',
								confirmButtonColor: 'hsl(150, 45%, 31%)',
							}
							)
						}
						xhr.send();
					}
				})
		}
	</script>

</main>