{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center" style="font-size: 50px; display: block; margin-bottom: .2rem;">group</i>
	<h1 class="title">Clientes</h1>
	{{#if clients}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row">
				<th>Nº Cliente</th>
				<th>R. Social</th>
				<th class="center">Equipos</th>
				<th class="center">Editar</th>
			</tr>
			{{#each clients}}
			<tr>
				<td class="center">
					<a href="/clientes/{{_id}}">
						<strong>
							{{clientNumber}}
						</strong>
					</a>
				</td>

				<td style="min-width: 170px;">
					<a href="/clientes/{{_id}}"><strong>{{name}} </strong></a>
				</td>

				<td class="center">
					<a href="/equipos/{{_id}}">
						{{refUnits.length}}
					</a>
				</td>

				<td class="center" style="min-width: 40px;">
					<a href="/clientes/editar/{{_id}}">
						<span class="table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>

			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No existen clientes registrados.</h2>
	{{/if}}

	<a href="/clientes/nuevo">
		<button class="button-success" style="margin-inline: auto;margin-bottom: 2rem;">Nuevo cliente</button>
	</a>
</main>