{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center" style="font-size: 50px; display: block; margin-bottom: .2rem;">group</i>
	<h1 class="title">Clientes</h1>

	<div class="flex justify-between mb-4 w-full">
		{{!-- search --}}
		<form action="/clientes/search" method="GET" class="flex items-center gap-2 self-end">
			<input name="q" placeholder="Nombre de cliente"
				class="inline w-3/4 h-10 px-4 py-2 m-0 mx-auto mb-0 bg-gray-200 rounded-full" style="margin: 0 !important;">
			</input>
			<button type="submit"><i class="inline text-white material-icons">search</i></button>
		</form>
		{{!-- sort --}}
		<div class="flex items-center gap-4">
			<a href="/clientes/nuevo" class="hidden sm:block mb-0 self-end">
				<button class="rounded-md button-success m-0 flex items-center" style="height: 2.5rem;">Nuevo
					cliente</button>
			</a>
			<form id="sort-form" class="hidden sm:flex w-48 flex-col items-center gap-1 justify-start sm:justify-end">
				<label for="refUnitsFilter" class="text-gray-400 font-normal w-100 w-full">Ordenar
				</label>
				<select name="sort" id="sort-select" class="w-48 h-10 px-2 mt-0 bg-gray-200">
					<option value="name">Razón social</option>
					<option value="refUnits-length">Cant. equipos</option>
					<option value="client-number">Nº cliente</option>
				</select>
			</form>
		</div>
	</div>

	{{#if clients}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row bg-slate-200 hover:bg-slate-200">
				<th>Razón Social</th>
				<th>Nombre comercial</th>
				<th class="center">Equipos</th>
				<th class="max-w-[50px]"># Cliente</th>
			</tr>
			{{#each clients}}
			{{!-- hide test clients --}}
			{{#unless (or (eq this.name "ZZZ CLIENTE PRUEBA") (eq this.name "-"))}}
			<tr>
				<td class="min-w-[120px] max-w-[170px]">
					<a href="/clientes/{{_id}}"><strong>{{name}} </strong></a>
				</td>
				<td class="min-w-[120px]">
					<a href=" /clientes/{{_id}}">
						{{#if brandName}}
						{{brandName}}
						{{else}}
						No registra
						{{/if}}
					</a>
				</td>
				<td class="center">
					<a href="/clientes/{{_id}}">
						{{refUnits.length}}
					</a>
				</td>
				<td class="center">
					<a href="/clientes/{{_id}}">
						<strong>
							{{clientNumber}}
						</strong>
					</a>
				</td>
			</tr>
			{{/unless}}
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 3rem;">No se encontraron clientes.</h2>
	{{/if}}
</main>

<script>
	const sortQuery = new URLSearchParams(window.location.search).get('sort');
	const sortSelect = document.getElementById('sort-select');

	const options = Array.from(sortSelect.options);
	for (let option of options) {
		if (option.value === sortQuery) {
			option.selected = true;
			break;
		}
	}

	sortSelect.addEventListener('change', () => {
		document.getElementById('sort-form').submit();
	});
</script>