{{>navbar}}

<main>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<h1 class="title">Clientes</h1>
	<div class="table-container">
		<table>
			<tr>
				<th>R. Social</th>
				<th>E-mail</th>
				<th>N° Equipos</th>
			</tr>
			{{#each clients}}
			<tr class="row">
				<td>
					<a href="/clientes/{{_id}}"><strong>{{name}} </strong></a>
				</td>
				<td>
					<a href="/clientes/{{_id}}">
						{{email}}
					</a>
				</td>
				<td class="table-center">
					{{refUnits.length}}
				</td>
				<td>
					<a href="/clientes/editar/{{_id}}">
						<span class="table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>

	<a href="/clientes/nuevo">
		<button class="button-success" style="margin-inline: auto;">Nuevo cliente</button>
	</a>
</main>