{{>navbar}}
<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/clientes">
		<button class="go-back">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style=" display: inline; margin-right: .5rem;">group</i>
			</span>
			Clientes
		</button>
	</a>

	{{!-- Breadcrumbs --}}
	<div class="inline-flex items-center justify-center mb-4 ml-2 place-items-center text-slate-200">
		<span class="flex items-center px-2 "><i class="material-icons ">chevron_right</i></span>
		<button class="flex items-center cursor-text">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
			</span>
			{{client.name}}
		</button>
	</div>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">person</i>
	<h1 class="title">{{client.name}}</h1>

	<div class="grid grid-cols-1 gap-8 mb-8 sm:gap-6 md:grid-cols-2">
		<section class="mt-0 mb-0">
			<h2 class="mt-0 subtitle" style="display: flex;">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.5rem; align-self: center;">info_outline</i>
				Información
			</h2>

			<div class="table-container">
				<table>
					<tr>
						<th>Razón Social</th>
						<td>
							<strong>{{client.name}} </strong>
						</td>
					</tr>
					<tr>
						<th>Nombre comercial</th>
						<td>
							{{#if client.brandName}}
							{{client.brandName}}
							{{else}}
							<div class="">No registra</div>
							{{/if}}
						</td>
					</tr>
					<tr>
						<th>Persona de contacto</th>
						<td>
							{{#if client.contactPerson}}
							{{client.contactPerson}}
							{{else}}
							<div class="">No registra</div>
							{{/if}}
						</td>
					</tr>
					<tr>
						<th>E-mail</th>
						<td>
							{{client.email}}
						</td>
					</tr>
					<tr>
						<th>Teléfono</th>
						<td>
							{{#if client.phone}}
							{{client.phone}}
							{{else}}
							<div class="">No registra</div>
							{{/if}}
						</td>
					</tr>
					<tr>
						<th>Nº de Cliente</th>
						<td>
							{{client.clientNumber}}
						</td>
					</tr>
					{{!-- <tr>
						<th>Equipos</th>
						<td>
							{{client.refUnits.length}}
						</td>
					</tr> --}}
					<tr>
						<th>Creado</th>
						<td>{{formatDate client.createdAt}}</td>
					</tr>
					<tr>
						<th>Actualizado</th>
						<td>{{formatDate client.updatedAt}}</td>
					</tr>
				</table>
			</div>
			<a href="/clientes/editar/{{client._id}}">
				<button class="button-new">
					<i class="material-icons clients-icon center">edit</i>
					Editar
				</button>
			</a>
		</section>

		<section class="mt-0">
			<h2 class="mt-0 subtitle" style="display: flex;">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.5rem; align-self: center;">ac_unit</i>
				Equipos
			</h2>

			{{#if refUnits}}
			<div class="table-container">
				<table>
					<tr class="table-headers-row bg-slate-200 hover:bg-slate-300/80">
						<th class="py-2">N° Serie</th>
						<th class="py-2">Matrícula</th>
						<th class="py-2">Modelo</th>
						{{!-- <th class="py-2">Creado</th> --}}
						{{!-- <th class="py-2 center">Servicios</th> --}}
					</tr>
					{{#each refUnits}}
					<tr>
						<td>
							<a href="/equipos/{{this._id}} ">
								<strong>
									{{#if (isPlateNumber this.serialNumber)}}
									<span class="text-red-600">No registra</span>
									{{else}}
									{{#if this.soldByReci}}
									<span class="text-emerald-600 font-normal">
										{{this.serialNumber}}
									</span>
									{{else}}
									<span class="font-thin">
										{{this.serialNumber}}
									</span>
									{{/if}}
									{{/if}}
								</strong>
							</a>
						</td>
						<td>
							<a href="/equipos/{{this._id}} ">
								{{#if this.plate}}
								{{this.plate}}
								{{else}}
								<div class="text-red-600">No registra</div>
								{{/if}}
							</a>
						</td>
						<td>
							<a href="/equipos/{{this._id}} ">
								{{this.model}}
							</a>
						</td>
						{{!-- <td>
							<a href="/equipos/{{this._id}} ">
								{{formatDate this.createdAt}}
						</td> --}}
						{{!-- <td class="center">
							<a href="/equipos/{{this._id}}">
								{{this.services.length}}
							</a>
						</td> --}}
					</tr>
					{{/each}}
				</table>
			</div>
			{{else}}
			<h3 class="no-elements center" style="font-size: 1.1rem;">
				Este cliente no tiene equipos registrados.
			</h3>
			{{/if}}

			<a href="/equipos/nuevo/{{client._id}}">
				<button class="button-success" style="margin-inline: auto;">
					<i class="material-icons clients-icon center">add</i>
					Agregar Equipo
				</button>
			</a>

		</section>
	</div>
</main>