{{>navbar}}
<main>

	<h1 class="title">Detalle del cliente</h1>

	<section>
		<h2 class="subtitle">Información</h2>
		<div class="table-container">
			<table>
				<tr>
					<th>R. Social</th>
					<th>E-mail</th>
					<th>Teléfono</th>
					<th>Equipos</th>
				</tr>
				<tr class="row">
					<td>
						<strong>{{client.name}} </strong>
					</td>
					<td>
						{{client.email}}
					</td>
					<td class="table-center">
						{{client.phone}}
					</td>
					<td>
						{{client.refUnits.length}}
					</td>
				</tr>
			</table>
		</div>
		<a href="/clientes/editar/{{client._id}}">
			<button class="button-new">Editar</button>
		</a>
	</section>

	<section>
		<h2 class="subtitle">Equipos</h2>
		<div class="table-container">
			<table>
				<tr>
					<th>N° Serie</th>
					<th>Línea</th>
					<th>Modelo</th>
					<th>Servicios</th>
				</tr>
			</table>
		</div>
	</section>
</main>