{{>navbar}}
<main>

	<h1 class="title">Detalle del cliente</h1>

	<section>
		<h2 class="subtitle">Información</h2>
		<div class="table-container">
			<table>
				<tr>
					<th>R. Social</th>
					<th>E-mail</th>
					<th>Teléfono</th>
					<th>Equipos</th>
				</tr>
				<tr class="row">
					<td>
						<strong>{{client.name}} </strong>
					</td>
					<td>
						{{client.email}}
					</td>
					<td class="table-center">
						{{client.phone}}
					</td>
					<td>
						{{client.refUnits.length}}
					</td>
				</tr>
			</table>
		</div>
		<a href="/clientes/editar/{{client._id}}">
			<button class="button-new">Editar</button>
		</a>
	</section>

	<section>
		<h2 class="subtitle">Equipos</h2>
		<div class="table-container">
			<table>
				<tr>
					<th>N° Serie</th>
					<th>Línea</th>
					<th>Modelo</th>
					<th>Servicios</th>
				</tr>
			</table>
		</div>

		<form class="form-container" action="">
			<h2>Agregar Equipo</h2>
			<div class="form-field">
				<label for="name">Nº Serie</label>
				<input type="text" name="serialNumber" placeholder="" />
			</div>
			<div class="form-field">
				<label for="client">ID Cliente:</label>
				<input type="email" name="client" placeholder="correo@casilla.com" value={{client._id}} />
			</div>
			<div class="form-field">
				<label for="model">Modelo:</label>
				{{!-- <input type="text" name="model" placeholder="V-500" /> --}}
				<select name="model" id="">
					<option value="C-250MAX">C-250 MAX</option>
					<option value="V-500">V-500</option>
					<option value="V-600">V-600</option>
					<option value="V-500MAX">V-500 MAX</option>
					<option value="V-600MAX">V-600 MAX</option>
				</select>
			</div>
			<div class="form-field">
				<label for="plate">Matrícula:</label>
				<input type="text" name="plate" placeholder="AAZ3757" />
			</div>
			<div class="form-field" style="display: flex; align-items: center;">
				<label for="soldByReci" style="display: inline; margin-block:0; margin-right: 1rem;">Venta RECI: </label>
				<input type="checkbox" name="soldByReci" id="checkboxByReci">
			</div>
			{{!-- <button class="button-success button-form" role="submit">Guardar</button> --}}
			<a href="/equipos">
				<button class="button-success button-form">Agregar Equipo</button>
			</a>
		</form>
	</section>
</main>