{{>navbar}}

<main class="mt-[80px]">
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center" style="font-size: 50px; display: block; margin-bottom: .2rem;">build</i>
	<h1 class="title">Servicios</h1>

	<div class="grid items-center grid-cols-1 mb-3 sm:grid-cols-3">
		<form action="/servicios/search" method="GET" class="flex items-center gap-2">
			<input name="q" placeholder="N° de Orden" type="number"
				class="inline w-3/4 h-10 px-2 m-0 mx-auto mb-0 bg-gray-200 rounded-full" style="margin: 0 !important;">
			</input>
			<button type="submit inline w-1/4 ml-2 bg-green-400 self-center rounded-full p-2"><i
					class="inline text-white material-icons">search</i></button>
		</form>
	</div>

	{{#if services}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th class="w-[100px]"># Orden</th>
				<th class="w-[80px]">Matrícula</th>
				<th>Cliente</th>
				<th class="w-[80px] hidden sm:table-cell">Modelo</th>
				<th class="w-[100px] hidden sm:table-cell">Fecha</th>
			</tr>
			{{#each services}}
			<tr>
				<td class="text-center">
					<a href="/servicios/{{_id}}">
						<strong>{{orderNumber}} </strong>
					</a>
				</td>
				<td>
					<a href="/servicios/{{this._id}} ">
						{{refUnit.plate}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{this.client.name}}
					</a>
				</td>
				<td class="hidden sm:table-cell">
					<a href="/servicios/{{this._id}} ">
						{{refUnit.model}}
					</a>
				</td>
				<td class="hidden sm:table-cell">
					<a href="/servicios/{{_id}}">
						{{formatDate serviceDate}}
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>


	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay servicios registrados.</h2>
	{{/if}}

	{{!-- Paginación --}}
	<div class="flex space-x-8 w-full justify-center mb-4">
		<a id="previous" role="link" class="text-green-400 flex items-center bold border border-green-400 px-4 py-2">
			<i class="material-icons inline">chevron_left</i>
			Anterior
		</a>
		<a id="next" role="link" class="text-green-400 flex items-center bold border border-green-400 px-4 py-2">
			Siguiente
			<i class="material-icons inline">chevron_right</i>
		</a>
	</div>
	{{!-- hidden --}}
	<input type="text" hidden value="{{services.length}}" id="services-length">

	<script>

		// Pagination
		const urlParams = new URLSearchParams(window.location.search)
		const page = parseInt(urlParams.get('p') || 0)

		const previousLink = document.querySelector('#previous');
		const nextLink = document.querySelector('#next');

		previousLink.setAttribute('href', `/servicios?p=${page - 1}`)
		nextLink.setAttribute('href', `/servicios?p=${page + 1}`)

		if (page === 0) {
			previousLink.setAttribute('aria-disabled', 'true')
			previousLink.classList.add('text-gray-500', 'border-gray-500')
		}

		const servicesLength = document.querySelector('#services-length')

		if (+servicesLength.value < 30) {
			nextLink.setAttribute('aria-disabled', 'true');
			nextLink.classList.add('disable-links', 'text-gray-400', 'border-gray-400');
		}
	</script>

</main>