{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">build</i>
	<h1 class="title">Servicios</h1>

	<div class="grid items-center grid-cols-1 mb-4 sm:grid-cols-3">
		<form action="/servicios/search" method="GET" class="flex items-center gap-2">
			<input name="q" placeholder="N° de Orden" type="number"
				class="inline w-3/4 h-10 px-2 m-0 mx-auto mb-0 bg-gray-200" style="margin: 0 !important;">
			</input>
			<button type="submit inline w-1/4 ml-2 bg-green-400 self-center rounded-full p-2"><i
					class="inline text-white material-icons">search</i></button>
		</form>
	</div>

	{{#if services}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row">
				<th>Nº Orden</th>
				<th>Matrícula</th>
				<th>Cliente</th>
				<th>Modelo</th>
				<th>Fecha</th>
				<th>Editar</th>
			</tr>
			{{#each services}}
			<tr>
				<td>
					<a href="/servicios/{{_id}}">
						<strong>{{orderNumber}} </strong>
					</a>
				</td>
				<td class="center">
					<a href="/servicios/{{this._id}} ">
						{{refUnit.plate}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{this.client.name}}
					</a>
				</td>
				<td class="center">
					<a href="/servicios/{{this._id}} ">
						{{refUnit.model}}
					</a>
				</td>
				<td>
					<a href="/servicios/{{_id}}">
						{{formatDate serviceDate}}
					</a>
				</td>
				<td class="center">
					<a href="/servicios/editar/{{_id}}">
						<span class="flex justify-center table-icon-container"><img src="/assets/edit-icon.png" alt=""></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay servicios registrados.</h2>
	{{/if}}

</main>