{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<i class="material-icons icon-clients center" style="font-size: 70px; display: block; margin-bottom: .2rem;">build</i>

	{{!-- INFORMACIÓN --}}
	<h1 class="title">Nuevo servicio</h1>
	<form class="form-container" action="/servicios" method="post">
		<div class="service-info-container">
			<div class="form-field">
				<label for="refUnitInput">Nº Serie:</label>
				<input type="number" name="serialNumber" id="refUnitInput" value={{refUnit.serialNumber}} readonly />
			</div>
			<div class="form-field">
				<label for="clientNameInput">Cliente:</label>
				<input type="text" name="clientName" id="clientNameInput" value="{{refUnit.client.name}}" readonly />
			</div>
			<div class="form-field">
				<label for="refUnit">Modelo:</label>
				<input type="text" name="model" id="refUnitModelInput" value="{{refUnit.model}}" readonly />
			</div>
			<div class="form-field">
				<label for="orderNumber">Nº Orden: (*)</label>
				<input type="text" name="orderNumber" id="orderNumberInput" placeholder="123456" maxlength="6" minlength="6"
					required />
			</div>
			<div class="form-field">
				<label for="serviceDate">Fecha del servicio: (*)</label>
				<input type="date" name="serviceDate" id="serviceDateInput" placeholder="correo@casilla.com" required />
			</div>
			<div class="form-field">
				<label for="hours">Horas: (*)</label>
				<input type="text" name="hours" id="hoursInput" style="max-width: 60px;" placeholder="0" required />
			</div>
			<div class="form-field">
				<label for="ticket">Nº Factura</label>
				<input type="text" name="ticket" id="ticketInput" value="{{service.ticket}}" />
			</div>
			<div class="form-field" style="display: flex; align-items: center;">
				<label for="isInWarranty" style="display: inline; margin-block:0; margin-right: 1rem;">Está
					en garantía:
				</label>
				<input type="checkbox" class="checkbox" name="isInWarranty" id="isInWarrantyInput" style="width: fit-content;">
			</div>
		</div>

		{{!-- PARTS --}}
		<div class="form-field add-parts-container" style="width: 100%">
			<label for="parts">Repuestos:</label>
			<div id="partsContainer">
				<div id="partsInputsContainer">
					<div class="parts-row">
						<div class="item-number" style="margin-right: .4rem; margin-left: .4rem;"> #1. </div>
						<input type="text" name="partNumber1" id="partNumber1" placeholder="Nº DE REPUESTO 1"
							style="text-transform: uppercase;" />
						<input type="text" name="partName1" id="partName1" placeholder="Nombre de Repuesto 1"
							style="text-transform: uppercase;" />
						<input type="number" name="partQty1" id="partQty1" placeholder="Cant." style="max-width: 70px;">
					</div>
				</div>
				<button id="addPartRowButton" tabindex="0" type="button">
					<i class="material-icons icon-add-item" style="font-size: 3rem;">add_box</i>
				</button>
			</div>
		</div>

		{{!-- FIXES --}}
		<div class="form-field" style="width: 100%">
			<label for="parts">Reparaciones:</label>
			<div id="fixesContainer">
				<div id="fixesInputsContainer">
					<div class="fixes-row">
						<div class="item-number"> #1. </div>
						<input type="text" name="fixInput1" id="fixInput1" placeholder="Descripción 1"
							style="text-transform: uppercase" />
					</div>
				</div>
				<button id="addFixesRowButton" tabindex="0" type="button">
					<i class="material-icons icon-add-item" style="padding: 0; margin: 0;  font-size: 3rem;">add_box</i>
				</button>
			</div>

			<button class="button-success button-form" role="submit" style="margin-top: 3rem;">Guardar</button>
		</div>

		{{!-- HIDDEN --}}
		<input type="text" name="refUnit" id="refUnitId" value="{{refUnit._id}}" hidden>
		<input type="text" name="client" id="clientId" value="{{refUnit.client._id}}" hidden>
	</form>
</main>



<script>
	const datePicker = document.querySelector('#serviceDateInput')
	datePicker.max = new Date().toISOString().split("T")[0];
</script>
{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}