{{>navbar}}
<main class="mt-[80px]">
	<a onclick="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	{{!-- Breadcrumbs --}}
	<div class="inline-flex items-center justify-center mb-4 ml-2 place-items-center text-slate-200">
		<a href="/clientes/{{service.client._id}}">
			<button class="flex items-center">
				<span class="button-icon-container">
					<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
				</span>
				{{service.client.name}}
			</button>
		</a>
		<span class="flex items-center px-2 "><i class="material-icons ">chevron_right</i></span>
		<a href="/equipos/{{service.refUnit._id}}">
			<button class="flex items-center text-slate-200 ">
				<span class="button-icon-container">
					<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">ac_unit</i>
				</span>
				{{service.refUnit.plate}}
			</button>
		</a>
		<span class="flex items-center px-2 "><i class="material-icons ">chevron_right</i></span>
		<button class="flex items-center text-slate-200 cursor-text ">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">build</i>
			</span>
			Servicio #{{service.orderNumber}}
		</button>
	</div>

	<i class="material-icons icon-clients center" style="font-size: 70px; display: block; margin-bottom: .2rem;">build</i>
	<h1 class="title">Servicio #{{service.orderNumber}}</h1>


	<div class="grid grid-cols-1 gap-8 mb-8 sm:gap-6 md:grid-cols-2">
		<section class="mb-0">
			<h2 class="flex mt-0 subtitle">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">build</i>
				Este servicio
			</h2>
			<div class="mb-0 table-container" style="">
				<table>
					<tr>
						<th>Nº Orden:</th>
						<td><strong> {{service.orderNumber}}</strong> </td>
					</tr>
					<tr>
						<th>Fecha de servicio: </th>
						<td>{{formatDate service.serviceDate}}</td>
					</tr>
					<tr>
						<th>Horas:</th>
						<td>{{service.hours}}</td>
					</tr>
					<tr>
						<th>Nº Factura</th>
						{{#if service.ticket}}
						<td>{{service.ticket}}</td>
						{{else}}
						<td class="font-bold text-red-700">No ingresado</td>
						{{/if}}
					</tr>
					<tr>
						<th>En garantía:</th>
						<td>
							{{#if service.isInWarranty}}
							<span class="font-bold text-green-700">
								Sí
							</span>
							{{else}}
							<span style="font-weight: 500; color: var(--primary-danger);">
								No
							</span>
							{{/if}}
						</td>
					</tr>
				</table>
			</div>
		</section>

		<section class="mb-0">
			<h2 class="flex mt-0 subtitle">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">ac_unit</i>
				Información del equipo
			</h2>
			<div class="mb-0 table-container">
				<table>
					<tr>
						<th>Nombre Cliente:</th>
						<td>
							<span style="font-weight: 500; color: var(--primary-success);">
								{{service.client.name}}
							</span>
						</td>
					</tr>
					<tr>
						<th>Matrícula: </th>
						<td>
							<span style="font-weight: 500; color: var(--primary-success);">
								{{#if service.refUnit.plate}}
								{{service.refUnit.plate}}
								{{else}}
								<div class="text-red-700">No registra</div>
								{{/if}}
							</span>
						</td>
					</tr>
					<tr>
						<th>Nº Serie:</th>
						<td>
							<span style="font-weight: 500; color: var(--primary-success);">
								{{service.refUnit.serialNumber}}
							</span>
						</td>
					</tr>
					<tr>
						<th>Modelo:</th>
						<td>
							<span style="font-weight: 500; color: var(--primary-success);">
								{{service.refUnit.model}}
							</span>
						</td>
					</tr>
					<tr>
						<th>Venta RECI:</th>
						<td>
							{{#if service.isInWarranty}}
							<span class="text-green-700">Sí</span>
							{{else}}
							<span class="text-red-700">No</span>
							{{/if}}
						</td>
					</tr>
				</table>
			</div>
		</section>
	</div>

	<div class="grid grid-cols-1 gap-8 sm:gap-6 md:grid-cols-2">
		{{!-- Fixes --}}
		<section class="mb-0">
			<h2 class="flex mt-0 subtitle">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">check_circle</i>
				Reparaciones
			</h2>

			{{#if service.fixes}}
			<div class="mb-0 table-container" style="width: 100%; min-width: 300px;">
				<table>
					<tr>
						<th>Descripción</th>
					</tr>
					{{#each service.fixes}}
					<tr>
						<td style="padding-left: 1rem;">{{this.fixName}}</td>
					</tr>
					{{/each}}
				</table>
			</div>

			{{else}}
			<h3 class="no-elements center" style="margin-top: 1rem; font-size: 1.1rem;">No hay reparaciones registradas en
				este
				servicio.</h3>
			{{/if}}
		</section>

		<section class="mb-0">
			<h2 class="flex mt-0 subtitle">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">build_circle</i>
				Repuestos
			</h2>

			{{#if service.parts}}
			<div class="table-container" style="width: 100%; min-width: 300px;">
				<table>
					<tr>
						<th>Código</th>
						<th>Descripción</th>
						<th>Cantidad</th>
					</tr>
					{{#each service.parts}}
					<tr>
						<td style="padding-left: 1rem;"><strong>{{this.partNumber}}</strong></td>
						<td style="padding-left: 1rem;">{{this.partName}}</td>
						<td style="padding-left: 3rem;">{{this.partQty}}</td>
					</tr>
					{{/each}}
				</table>
			</div>
			{{else}}
			<h3 class="no-elements center" style="margin-top: 1rem; font-size: 1.1rem;">No hay repuestos registrados en
				este
				servicio.</h3>
			{{/if}}
		</section>
	</div>

	<a href="/servicios/editar/{{service._id}}">
		<button class="mt-4 button-new">
			<i class="material-icons clients-icon center ">edit</i>
			Editar
		</button>
	</a>

</main>