{{>navbar}}

<main>
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">schedule</i>
	<h1 class="title">Editar tarea</h1>

	<form class="form-container " action="/tareas/{{pendingTask._id}}?_method=PUT" method="POST">
		<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-4">
			<div class="form-field">
				<label for="client">Nombre de Cliente:</label>
				<input type="text" readonly name="clientName" value="{{pendingTask.client.name}}"
					style="text-transform: uppercase;" />
			</div>
			<div class="form-field">
				<label for="serialNumber">Nº Serie</label>
				<input class="w-full" type="text" name="serialNumber" value={{pendingTask.refUnit.serialNumber}} readonly />
			</div>
			<div class="form-field">
				<label for="plate-number">Matrícula:</label>
				<input type="text" id="plate-number" name="plate" value={{pendingTask.refUnit.plate}}
					style="text-transform: uppercase;" readonly />
			</div>
			<div class="form-field">
				<label for="model">Modelo:</label>
				<input type="text" name="model" value="{{pendingTask.refUnit.model}}" readonly>
			</div>
			<div class="form-field">
				<label for="taskDescription">Descripción</label>
				<input type="text" name="taskDescription" value="{{pendingTask.taskDescription}}" />
			</div>
			<div class="form-field">
				<label for="completed" class="mr-4">Completada: </label>
				{{#if pendingTask.completed}}
				<input checked type="checkbox" id="completedCheckbox" class="h-8 w-full" name="completed" />
				{{else}}
				<input type="checkbox" id="completedCheckbox" class="h-8 w-full " name="completed" />
				{{/if}}
			</div>
		</div>

		<button class="button-success button-form" role="submit">Guardar</button>
	</form>

	<button class="button-danger center" onclick="deletePendingTask('{{pendingTask._id}}')">Eliminar</button>
</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}
<script src="https://cdn.jsdelivr.net/npm/method-override@2.3.10/index.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	const deleteButton = document.querySelector('.button-danger');

	function deletePendingTask(id) {
		Swal.fire({
			title: 'La tarea será eliminada',
			text: 'Esta acción no se puede revertir.',
			icon: 'warning',
			iconColor: 'red',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			confirmButtonText: 'Eliminar',
			cancelButtonText: 'Cancelar',
			cancelButtonText: 'Cancelar',
			/* customClass: { */
			/* 	confirmButton: 'button-alert-danger', */
			/* 	cancelButton: 'button-alert-cancel' */
			/* }, */
			/* buttonsStyling: false, */

		})
			.then((result) => {
				if (result.value) {
					// send a DELETE request to the server
					const xhr = new XMLHttpRequest();
					xhr.open('DELETE', '/tareas/' + id, true);
					xhr.setRequestHeader('X-HTTP-Method-Override', 'DELETE');
					xhr.onloadend = function () {
						// handle the response
						Swal.fire('La tarea fue borrada.', 'success');
					};
					xhr.send();
				}
			}).then((result) => {
				setTimeout(() => {
					window.location = '/equipos/{{pendingTask.refUnit._id}}#pendingTasks'
				}, 600)
			});
	}
</script>