{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>
	<a href="/">
		<button class="go-back">
			<i class="material-icons">home</i>
		</button>
	</a>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">schedule</i>
	<h1 class="title">Tareas</h1>

	{{#if pendingTasks}}
	<div class="table-container">
		<table>
			<tr class="table-headers-row bg-slate-300/80 hover:bg-slate-300/80">
				<th>Descripción</th>
				<th>Cliente</th>
				<th>Matrícula</th>
				<th>Estado</th>
				<th>Fecha</th>
				{{!-- <th>Editar</th> --}}
			</tr>
			{{#each pendingTasks}}
			<tr>
				<td>
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks">
						<strong class="uppercase">{{this.taskDescription}} </strong>
					</a>
				</td>
				<td>
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks">
						{{this.client.name}}
					</a>
				</td>
				<td class="center">
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks">
						{{#if this.refUnit.plate}}
						{{this.refUnit.plate}}
						{{else}}
						<div class="text-red-700">No registra</div>
						{{/if}}
					</a>
				</td>

				{{#if this.completed}}
				<td class="flex items-center justify-start mark-pending-button" id="{{this._id}}">
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks" class="flex items-center">
						<i class="m-0 text-green-600 material-icons clients-icon center hover:text-green-500">
							{{!-- check_circle --}}
							check
						</i>
						<span class="ml-2 font-medium text-green-600">
							Completada
						</span>
					</a>
				</td>

				{{else}}
				<td class="flex items-center justify-start mark-completed-button" id="{{this._id}}">
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks" class="flex items-center">
						<i class="m-0 text-yellow-600 material-icons clients-icon center">
							warning
						</i>
						<span class="ml-2 font-medium text-yellow-600">
							Pendiente
						</span>
					</a>
				</td>
				{{/if}}
				</a>
				<td>
					<a href="/equipos/{{this.refUnit._id}}#pendingTasks">
						{{formatDate this.createdAt}}
					</a>
				</td>

				{{!-- <td class="center"> --}}
				{{!-- 	<a href="/tareas/editar/{{this._id}}"> --}}
				{{!-- 		<span class="flex justify-center table-icon-container"><img src="/assets/edit-icon.png" alt=""></span> --}}
				{{!-- 	</a> --}}
				{{!-- </td> --}}

			</tr>
			{{/each}}
		</table>
	</div>
	{{else}}
	<h2 class="subtitle center" style="margin-top: 1rem;">No hay tareas registradas.</h2>
	{{/if}}

</main>