{{>navbar}}

<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	{{!-- Breadcrumbs --}}
	<div class="inline-flex items-center justify-center mb-4 ml-2 place-items-center text-slate-200">
		<a href="/clientes/{{clientId}}">
			<button class="flex items-center">
				<span class="button-icon-container">
					<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
				</span>
				{{clientName}}
			</button>
		</a>
		<span class="flex items-center px-2 "><i class="material-icons ">chevron_right</i></span>
		<button class="flex items-center text-slate-200 cursor-text ">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">local_shipping</i>
			</span>
			Nueva carrocería
		</button>
	</div>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">local_shipping</i>
	<h1 class="title">Nueva carrocería</h1>
	<form class="form-container" action="/carrocerias" method="post" id="form-new-bodykit">
		<div class="grid gap-8 mb-4 sm:grid-cols-2 lg:grid-cols-3">
			<div class="form-field">
				<label for="client">Nombre de Cliente</label>
				<input type="text" name="clientName" value="{{clientName}}" style="text-transform: uppercase;" readonly />
			</div>
			<div class="form-field">
				<label for="client">ID Cliente</label>
				<input type="text" id="client-id" name="client" value="{{clientId}}" readonly />
			</div>
			<div class="form-field">
				<label for="name">Nº Serie <span class="text-red-500">*</span></label>
				<input type="text" class="uppercase" pattern="[A-Za-z0-9]+" name="serialNumber" placeholder="0000000000"
					id="serial-number" maxlength="17" required />
			</div>
			<div class="form-field">
				<label for="plate-number">Matrícula <span class="text-yellow-500">*</span></label>
				<input type="text" id="plate-number" name="plate" placeholder="ATP1234" style="text-transform: uppercase;"
					maxlength=12 {{!-- required maxlength="7" pattern="^[A-Za-z]{1,3}[0-9]{1,4}" /> --}} />
			</div>
			<div class="form-field">
				<label for="model">Modelo <span class="text-red-500">*</span></label>
				{{!-- <input type="text" name="model" placeholder="V-500" /> --}}
				<select name="model" id="select-model" required>
					<option value="" disabled selected>Seleccionar</option>
					<option value="liderkit">Liderkit</option>
					<option value="liderkit-isotermo">Liderkit Isotermo</option>
					<option value="liderkit-poliester">Liderkit Poliéster</option>
					<option value="liderkit-aluminio">Liderkit Aluminio</option>
					<option value="liderkit-botellero">Liderkit Botellero</option>
					<option value="fibrasil">Fibrasil</option>
					<option value="fibrasil-isotermo">Fibrasil Isotermo</option>
					<option value="hc-hornburg">HC Hornburg</option>
					<option value="hc-hornburg-pallet">HC Hornburg Pallet</option>
					<option value="hc-hornburg-ganchera">HC Hornburg Ganchera</option>
					<option value="hc-hornburg-supercongelados">HC Hornburg Supercongelados</option>
					<option value="hc-hornburg-semirremolque">HC Hornburg Semirremolque</option>
					<option value="niju">Niju</option>
					<option value="niju-semirremolque">Niju Semirremolque</option>
				</select>
			</div>
			<div class="form-field">
				<label for="soldByReci">Venta RECI <span class="text-red-500">*</span></label>
				<select name="soldByReci" id="soldByReciSelect" required>
					<option value="" disabled selected>Seleccionar</option>
					<option value="true">Si</option>
					<option value="false">No</option>
				</select>
			</div>
			<div class="form-field">
				<label for="hours">Fecha límite de garantía: <span class="text-red-500">*</span></label>
				<input type="date" id="warranty-date" name="warrantyDate" placeholder="" />
			</div>
		</div>

		<div class="w-full flex justify-end">
			<button class="button-success" role="submit" id="submit-button">Guardar</button>
		</div>
	</form>
</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}

<script>
	// special characters not allowed on serial number
	document.getElementById('serial-number').addEventListener('keypress', function (e) {
		const matches = /[A-Za-z0-9]/.test(String.fromCharCode(e.which));
		if (!matches) {
			e.preventDefault();
		}
	});

	// special characters not allowed on license plate
	document.getElementById('plate-number').addEventListener('keypress', function (e) {
		const matches = /[A-Za-z0-9]/.test(String.fromCharCode(e.which));
		if (!matches) {
			e.preventDefault();
		}
	});

	/*
	 // verify serial number
	 serialNumberInput.addEventListener('input', function () {
		 const serialNumberRegex = /^[A-Za-z]{3}\d{7}$/;
 
		 if (serialNumberRegex.test(serialNumberInput.value)) {
			 serialNumberInput.classList.add('verifiedSerial');
		 } else {
			 serialNumberInput.classList.remove('verifiedSerial');
		 }
	 });
	 */

	// verify plate number
	const isPlateNumber = (number) => {
		const plateNumberRegex = /^[A-Za-z]{3}\d{4}$/;
		const brasilPlateNumberRegex = /^[A-Za-z]{1}\d{6}$/;
		let matches =
			plateNumberRegex.test(plateNumberInput.value) || brasilPlateNumberRegex.test(plateNumberInput.value);
		return matches
	}

	// input green if plate matches format
	const plateNumberInput = document.getElementById('plate-number');
	plateNumberInput.addEventListener('input', function () {
		const matches = isPlateNumber(plateNumberInput.value);
		if (matches) {
			plateNumberInput.classList.add('verifiedSerial');
		} else {
			plateNumberInput.classList.remove('verifiedSerial');
		}
	});

	// set warranty date to following year when clicked
	let date = new Date();
	date.setFullYear(date.getFullYear() + 1);

	let day = ("0" + date.getDate()).slice(-2);
	let month = ("0" + (date.getMonth() + 1)).slice(-2);

	let nextYearDate = date.getFullYear() + "-" + (month) + "-" + (day);

	document.getElementById('warranty-date').addEventListener('click', function () {
		document.getElementById('warranty-date').value = nextYearDate;
	});
</script>