{{>navbar}}
<main class="mt-[80px]">
	<a onclick="window.history.back()">
		<button class="go-back">
			<i class="material-icons">arrow_back</i>
		</button>
	</a>

	{{!-- Breadcrumbs --}}
	<div class="inline-flex items-center justify-center mb-4 ml-2 place-items-center text-slate-200">
		<a href="/clientes/{{bodyKit.client._id}}">
			<button class="flex items-center">
				<span class="button-icon-container">
					<i class="material-icons icon-clients center" style="display: inline; margin-right: .5rem;">person</i>
				</span>
				{{bodyKit.client.name}}
			</button>
		</a>
		<span class="flex items-center px-2 "><i class="material-icons ">chevron_right</i></span>
		<button class="flex items-center text-slate-200 cursor-text ">
			<span class="button-icon-container">
				<i class="material-icons icon-clients center"
					style="display: inline; margin-right: .5rem;">local_shipping</i>
			</span>
			{{#if bodyKit.plate}}
			{{bodyKit.plate}}
			{{else}}
			Sin matrícula
			{{/if}}
		</button>
	</div>

	<i class="material-icons icon-clients center"
		style="font-size: 70px; display: block; margin-bottom: .2rem;">local_shipping</i>
	<h1 class="title">
		Carrocería
		{{#if bodyKit.plate}}
		{{bodyKit.plate}}
		{{else}}
		sin matrícula
		{{/if}}
	</h1>

	<section class="mx-auto mb-4">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
			<div class="table-container w-full" style="">
				<h2 class="flex items-center gap-2 mt-0 subtitle">
					<i class="material-icons icon-clients center"
						style=" display: inline; margin:0; font-size: 1.3rem; align-self: center;">local_shipping</i>
					Esta carrocería
				</h2>
				<table id="show-table">
					<tr>
						<th>Nº Serie</th>
						{{#if (eq bodyKit.serialNumber bodyKit.plate)}}
						<td class="text-red-600">No registra</td>
						{{else}}
						{{#if bodyKit.soldByReci}}
						<td class="font-normal"> {{bodyKit.serialNumber}} </td>
						{{else}}
						<td> {{bodyKit.serialNumber}} </td>
						{{/if}}
						{{/if}}
					</tr>
					<tr>
						<th>Proveedor</th>
						{{#if provider}}
						<td> {{bodyKit.provider}} </td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					<tr>
						<th>Modelo</th>
						<td> {{bodyKit.model}} </td>
					</tr>
					<tr>
						<th>Dimensiones (mm)</th>
						{{#if bodyKit.dimensions.length}}
						<td> {{bodyKit.dimensions.length}}(L) x {{bodyKit.dimensions.width}}(An) x
							{{bodyKit.dimensions.height}}(Alt) </td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					<tr>
						<th>Accesorios y Obs.</th>
						{{#if bodyKit.observations}}
						<td>{{bodyKit.observations}}</td>
						{{else}}
						<td>
							No registra
						</td>
						{{/if}}
					</tr>
					<tr>
						<th>Estado</th>
						{{#if bodyKit.status}}
						<td>{{bodyKit.status}}</td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					{{#if (or (eq bodyKit.status 'Entregada') (isEmptyOrUndefined bodyKit.status)) }}
					<tr>
						<th>Límite de garantía</th>
						{{#if bodyKit.warrantyDate}}
						<td>{{formatDate bodyKit.warrantyDate}}</td>
						{{else}}
						<td>No ingresada</td>
						{{/if}}
					</tr>
					{{else}}
					<tr>
						<th>Entrega estimada</th>
						{{#if bodyKit.deliveryEstimate}}
						<td>{{formatDate bodyKit.deliveryEstimate}}</td>
						{{else}}
						<td>No ingresada</td>
						{{/if}}
					</tr>
					{{/if}}
					<tr>
						<th>Venta RECI</th>
						<td>
							{{#if bodyKit.soldByReci}}
							Sí
							{{else}}
							No
							{{/if}}
						</td>
					</tr>
				</table>
			</div>

			<div class="table-container w-full" style="">
				<h2 class="flex items-center gap-2 mt-0 subtitle">
					<i class="material-icons icon-clients center"
						style=" display: inline; margin:0; font-size: 1.3rem; align-self: center;">info</i>
					Información del camión
				</h2>
				<table id="show-table">
					<tr>
						<th>Cliente</th>
						<td>
							{{bodyKit.client.name}}
						</td>
					</tr>
					<tr>
						<th>Matrícula</th>
						<td>
							{{#if bodyKit.plate}}
							{{bodyKit.plate}}
							{{else}}
							<div class="text-red-500">No registra</div>
							{{/if}}
						</td>
					</tr>
					<tr>
						<th>Marca</th>
						{{#if bodyKit.truckBrand}}
						<td>{{bodyKit.truckBrand}}</td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					<tr>
						<th>Modelo</th>
						{{#if bodyKit.truckModel}}
						<td>{{bodyKit.truckModel}}</td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					<tr>
						<th>Nº Chasis</th>
						<td>
							{{#if bodyKit.chassis}}
							{{bodyKit.chassis}}
							{{else}}
							<div>No registra</div>
							{{/if}}
						</td>
					</tr>
					<tr>
						<th>Dist. entre ejes (cm)</th>
						{{#if bodyKit.wheelbase}}
						<td>{{bodyKit.wheelbase}}</td>
						{{else}}
						<td>No registra</td>
						{{/if}}
					</tr>
					<tr>
						<th>Creado</th>
						<td>
							{{formatDate bodyKit.createdAt}}
						</td>
					</tr>
					<tr>
						<th>Editado</th>
						<td>
							{{formatDate bodyKit.updatedAt}}
						</td>
					</tr>
				</table>
			</div>
		</div>

		<a href="/carrocerias/editar/{{bodyKit._id}}">
			<button class="button-new">
				<i class="material-icons clients-icon center">edit</i>
				Editar
			</button>
		</a>
	</section>

	<div class="grid grid-cols-1 gap-8 mb-2 sm:gap-6 md:grid-cols-2">
		{{!-- SERVICIOS --}}
		<section>
			<h2 class="flex items-center gap-2 mt-0 subtitle">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0; font-size: 1.3rem; align-self: center;">build</i>
				Servicios <span class="font-normal">({{bodyKit.services.length}})</span>
			</h2>

			{{#if bodyKit.services}}
			<div class="table-container" style="width: 100%; min-width: 300px;">
				<table>
					<tr class="bg-slate-200 hover:bg-slate-200" style="padding-block: 0 !important;">
						<th class="py-2"># Orden</th>
						<th class="py-2">Fecha</th>
						<th class="hidden py-2 text-center sm:table-cell">Reparaciones</th>
						<th class="hidden py-2 text-center sm:table-cell">Repuestos</th>
					</tr>
					{{#each bodyKit.services}}
					<tr>
						<td><a href="/servicios-carrocerias/{{this._id}}">{{this.orderNumber}}</a></td>
						<td><a href="/servicios-carrocerias/{{this._id}}">{{formatDate this.serviceDate}}</a></td>
						<td class="hidden sm:table-cell" style="text-align: center;">
							<a href="/servicios-carrocerias/{{this._id}}">{{this.fixes.length}}</a>
						</td>
						<td class="hidden sm:table-cell" style="text-align: center;">
							<a href="/servicios-carrocerias/{{this._id}}">{{this.parts.length}}</a>
						</td>
					</tr>
					{{/each}}
				</table>
			</div>

			{{else}}
			<h3 class="no-elements center" style="font-size: 1.1rem;">No hay servicios registrados en
				esta
				carrocería.</h3>
			{{/if}}

			<a href="/servicios-carrocerias/nuevo/{{bodyKit._id}}">
				<button class="button-success center">
					<i class="material-icons clients-icon center">build</i>
					Nuevo servicio
				</button>
			</a>
		</section>

		{{!-- Tareas Pendientes --}}
		<section id="pendingTasks">
			<h2 class="mt-0 subtitle" style="display: flex;">
				<i class="material-icons icon-clients center"
					style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">schedule</i>
				Tareas pendientes
			</h2>

			{{#if bodyKit.pendingTasks}}
			<div class="m-0 mb-3 table-container" style="width: 100%; min-width: 300px;">
				<table>
					<tr class="bg-slate-200 hover:bg-slate-200" style="padding-block: 0 !important;">
						<th class="py-2">Descripción</th>
						<th class="py-2 text-center">Estado</th>
						<th class="py-2">Editar</th>
					</tr>

					{{#each bodyKit.pendingTasks}}
					<tr>
						<td class="w-10/12 px-4 uppercase">
							{{this.taskDescription}}
						</td>

						{{#if this.completed}}
						<td class="flex items-center justify-start px-4 hover:cursor-pointer mark-pending-button"
							id="{{this._id}}">
							<i class="m-0 text-green-600 material-icons clients-icon center hover:text-green-500">
								{{!-- check_circle --}}
								check
							</i>
							<span class="ml-2 font-medium text-green-600">
								Completada
							</span>

							{{else}}
						<td class="flex items-center justify-start px-4 hover:cursor-pointer mark-completed-button"
							id="{{this._id}}">
							<i class="m-0 text-yellow-600 material-icons clients-icon center">
								warning
							</i>
							<span class="ml-2 font-medium text-yellow-600">
								Pendiente
							</span>
						</td>
						{{/if}}

						<td>
							<a href="/tareas/editar/{{this._id}}">
								<span class="flex justify-center table-icon-container"><img src="/assets/edit-icon.png"
										alt=""></span>
							</a>
						</td>

					</tr>
					{{/each}}
				</table>
			</div>

			{{else}}
			<h3 class="no-elements center" style="font-size: 1.1rem;">
				No hay tareas pendientes en esta carrocería.
			</h3>
			{{/if}}

			{{!-- ADD PENDING TASK FORM --}}
			<form action="/tareas" method="POST" class="flex flex-col items-center w-full">
				<div class="items-center justify-center mb-4 min-w-[300px] w-full ">
					<input type="text" placeholder="Nueva tarea" name="taskDescription"
						class="w-full p-2 mt-1 uppercase w-grow">
				</div>

				{{!-- Hidden Inputs --}}
				<input type="hidden" value="{{bodyKit._id}}" name="bodyKit">
				<input type="hidden" value="{{bodyKit.client._id}}" name="client">

				<button class="button-success center" type="submit">
					<i class="ml-0 material-icons clients-icon center">schedule</i>
					Agregar
				</button>
			</form>

		</section>
	</div>

	{{!-- List all fixes --}}
	<section class="w-full">
		<h2 class="mt-0 subtitle" style="display: flex;">
			<i class="material-icons icon-clients center"
				style=" display: inline; margin:0 .5rem 0 0; font-size: 1.3rem; align-self: center;">check</i>
			Tareas realizadas en servicios
		</h2>

		{{#if bodyKit.services}}
		<div class="table-container" style="width: 100%; min-width: 300px; ">
			<table>
				<tr class="bg-slate-200 hover:bg-slate-200" style="padding-block: 0 !important;">
					<th class="hidden py-2 text-start sm:table-cell">Tarea</th>
					<th class="py-2 w-[100px]"># Orden</th>
					<th class="py-2 w-[50px]">Fecha</th>
					{{!-- <th class="py-2 w-[50px] hidden sm:table-cell">Repuestos</th> --}}
					{{!-- <th class="hidden py-2 text-center sm:table-cell">Repuestos</th> --}}
				</tr>
				{{#each bodyKit.services}}
				{{#each this.fixes}}
				{{#if (isOdd @../index)}}
				<tr class="bg-cyan-600/5">
					{{else}}
				<tr>
					{{/if}}
					<td class="whitespace-normal">
						<a class="whitespace-normal" href="/servicios-carrocerias/{{../this._id}}">{{this.fixName}}</a>
					</td>
					<td class="hidden sm:table-cell ">
						<a href="/servicios-carrocerias/{{../this._id}}">{{../this.orderNumber}}</a>
					</td>
					<td>
						<a href="/servicios-carrocerias/{{../this._id}}">{{formatDate ../this.serviceDate}}</a>
					</td>
					{{!-- <td class="hidden text-center sm:table-cell">
						<a href="/servicios-carrocerias/{{../this._id}}">{{../this.parts.length}}</a>
					</td> --}}
				</tr>
				{{/each}}
				{{/each}}
			</table>
		</div>
		{{else}}
		<h3 class="no-elements center" style="font-size: 1.1rem;">
			No hay servicios registrados en esta carrocería.
		</h3>
		{{/if}}

	</section>
</main>

{{#each scripts}}
<script src="{{script}}"></script>
{{/each}}